<a href="https://colab.research.google.com/github/thirayume/muangtai/blob/main/Muangtai_PGSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Muangtai PostgreSQL Database export query to CSV

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd '/content/drive/MyDrive/Colab Notebooks/Muangtai'

/content/drive/MyDrive/Colab Notebooks/Muangtai

In [ ]:
import psycopg2
import pandas as pd

In [ ]:
# Connect to the PostgreSQL database


conn

In [ ]:
# Create a cursor object to execute queries
cursor = conn.cursor()

# Execute the query
cursor.execute("SELECT * FROM dim_syndicates")
columns = [desc[0] for desc in cursor.description]

# Fetch all rows from the query result
rows = cursor.fetchall()

# Create dataframe
df = pd.DataFrame(rows, columns=columns)
df.index =  df['id']

# Convert the DataFrame to a dictionary with lists as values
# data_dict = data_df.to_dict(orient="list")

# Specify the output file path
# output_file = "/path/to/output.csv"

# Write the query result to CSV
# df.to_csv(output_file)

# Close the cursor
cursor.close()

In [ ]:
# Close the connection
conn.close()

In [ ]:
df.head()

,id,description,name_english,name_thai,created_at,updated_at,deleted_at
id,,,,,,,
43666aa9-17ca-4b2e-870d-79ef49d6be33,43666aa9-17ca-4b2e-870d-79ef49d6be33,None,None,เมืองใต้พาณิชย์,2023-09-04 21:28:48,2023-09-04 21:28:48,None

In [ ]:
df.describe()

                created_at           updated_at
count                    1                    1
mean   2023-09-04 21:28:48  2023-09-04 21:28:48
min    2023-09-04 21:28:48  2023-09-04 21:28:48
25%    2023-09-04 21:28:48  2023-09-04 21:28:48
50%    2023-09-04 21:28:48  2023-09-04 21:28:48
75%    2023-09-04 21:28:48  2023-09-04 21:28:48
max    2023-09-04 21:28:48  2023-09-04 21:28:48